
# Jupyter notebooks and checkpoints
*.ipynb
**/.ipynb_checkpoints/# --- Environnements Virtuels ---
APPS/venv_label/
APPS/venv_rinex/
.venv/
venv/

# --- Python & Cache ---
__pycache__/
**/*.py[cod]
**/*.cpython-*.pyc
.pytest_cache/

# --- DATA (Dossier conservé, contenu ignoré) ---
DATA/*
!DATA/.gitkeep
# On ignore explicitement les sous-dossiers s'ils sont créés
DATA/00_RAW/**
DATA/01_INTERIM/**
DATA/02_PROCESSED/**
DATA/03_TRAINING/**

# --- MODELS (Dossier conservé, contenu ignoré) ---
MODELS/*
!MODELS/.gitkeep
MODELS/GRU/**
MODELS/XGBOOST/**

# --- Configuration ---
.env

# Jupyter notebooks and checkpoints
*.ipynb
**/.ipynb_checkpoints/